[Desktop Entry]
Version=1.0
Type=Link
Name=kali-hack.jpg (3840×2160)
Comment=
Icon=user-bookmarks
URL=file:///data/data/com.termux/files/home/Desktop/kali-hack.jpg
